
<div class="home">
    <div class="opacity-75">
        <h2><em>WELCOME TO</em></h2>
        <h1>INSTITUTE TECHNICAL COUNSIL</h1>
        <h3>Tinker.Innovate.Create!</h3>
    </div>
    <div class="d-flex flex-row bd-highlight mb-3">
        <div class="logo">
            <img src="./assets/images/ITClogoWhite.png" alt="">
        </div>
        <div class="info">
            <h1>ABOUT ITC</h1>
            <h6>The ‘T’ of IIT Bombay is right here</h6>
            <p>The Institute Technical Council caters to the needs for everything related to tech happening in the institute. Student Tech is one of the pillars of IIT Bombay, which fosters a culture of motivating young minds to pursue innovative ideas. We make sure that your ideas are heard and help you turn these ideas into reality in every way possible.</p>
        </div>
    </div>
    
</div>